body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    padding: 0px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

a {
    color: black;
}

main {
    padding: 0px;
}

section {
    margin-bottom: 0px;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    padding: 0px;
    text-align: center;
}