body {
    font-family: system-ui;
    margin: 0;
}

header {
    padding: 0px;
}

/*Desktop Query*/
@media only screen and (min-width: 768px) {
    img {
        max-width: 15dvw;
        height: auto;
    }
}
  
/*Mobile Query*/
@media only screen and (max-width: 480px) {
    img {
        padding-top: 1dvh;
        max-width: 30dvw;
        height: auto;
    }
}

#demo {
    border: 1px solid #ccc; /* You can adjust the border thickness and color */
    border-radius: 5px;    /* Optional: Add rounded corners */
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

a {
    color: black;
}

main {
    padding: 0px;
}

section {
    margin-bottom: 0px;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    padding: 0px;
    text-align: center;
}